<header class="text-center" name="home">
  <div class="intro-text">
    <h1>Quentin "Johnny" Guye <strong></strong></h1>
    <p>Front-end developer</p>
    <p>
      I'm, Quentin Guye, commonly named "Johnny", currently developping <br/> mobile and web apps, and aspiring Game developer from France.
    </p>
    <p>
      <app-auto-writer [text]="'Welcome to my humble website !'" [delay]="100" [jitter]=".5"></app-auto-writer>
    </p>
    <a href="#services-section" class="btn btn-default btn-lg page-scroll">LEARN MORE</a> </div>
</header>
